.hello-user {
    font-family: 'Courier New', Courier, monospace;
    
}

.container {
    background: none;
    margin: 0px auto;
 
}
.material-icons {
    display: inline-block;
    line-height: 1;
    font-size: inherit;
}