.post-form-style {
    width: 300px;
}

.photo-div, .farmer-div {
    margin-bottom: 5%;
}

.description-label {
    margin-right: 2%;
}

.location-label {
    margin-right: 5%;
}

.farmer-label {
    margin-right: 6%;
}

.location-div {
    margin-top: 5%;
}

.farmer-div {
    margin-top: 15%;
}

.card {
    width: 40%;
    margin: 50px auto;
}

.post-name {
    font-weight: bold;
    margin-bottom: 20px;
    padding: 10px;
    background-color: #eee;
}

.post-description {
    padding-bottom: 10px;
    padding-top: 10px;
    width: 75%;
    margin: 0px auto;
}

.title {
    margin: 15px;
    text-align: center;
}

.home-page-title-styling {
    margin-top: 75px;
    padding: 5px;
    font-size: 25px;
    text-transform: uppercase;
}

.button-color {
    background-color: rgb(196, 141, 41);
}

.button-color:hover {
    background-color: rgb(218, 169, 79);
  }