.photo-div, .farmer-div {
    margin-bottom: 5%;
}

.description-label {
    margin-right: 2%;
}

.location-label {
    margin-right: 7%;
}

.farmer-label {
    margin-right: 9%;
}

.location-div, .farmer-div {
    margin-top: 5%;
}