html, body {
  font-family: 'Roboto', sans-serif;
  padding: 0;
  margin: 0;
  min-width: 690px;
}

* {
  box-sizing: border-box;
}

.joinOuterContainer {
  justify-content: center;
  text-align: center;
  align-items: center;
  background-color: white;
}

h1.topHeading {
  font-size: 1.7em;
  font-weight: 300;
  margin-top: 1.85em;
  margin-bottom: .25em;
}

.authJoinInputRoom{
  display: inline-block;
  padding: 15px 20px;
  width: 45%;
  margin-top: 2%;
  margin-left: 15%;
  margin-right: 15%;
  margin-bottom: 2%;
}

.noAuth {
  display: block;
  padding: 15px 20px;
  width: 45%;
}

.authCreateRoom{
  display: inline-block;
  padding: 15px 20px;
  width: 45%;
  margin-top: 2%;
  margin-left: 15%;
  margin-right: 15%;
  margin-bottom: 0%;
}

.heading {
  color: black;
  font-size: 1.5em;
  padding-bottom: 10px;
  border-bottom: 2px solid #2979FF;
}

.joinButton {
    color: #fff !important;
    text-transform: uppercase;
    text-decoration: none;
    background: #2979FF;
    padding: 20px;
    border-radius: 5px;
    display: inline-block;
    margin-top: 2%;
    border: none;
    width: 30%;
}

.noAuthJoinButton {
  color: #fff !important;
  text-transform: uppercase;
  text-decoration: none;
  background: #2979FF;
  padding: 20px;
  border-radius: 5px;
  display: inline-block;
  margin-top: 2%;
  margin-left: 2%;
  border: none;
  width: 30%;
  box-sizing: content-box;
}

.mt-20 {
  margin-top: 20px;
}

@media (min-width: 350px) and (max-width: 480px) {
  .joinOuterContainer {
    height: 100%;
  }

  .joinInnerContainer {
    width: 90%;
  }


}

button:focus {
outline: 0;
}


